<h1 class='header'>V Original To Do List</h1>
<ol>
<% @tasks.each do |task| %>
  <li class= 'toDo index'> <%= link_to "#{task[:name]}", task_path(id: task.id) %></li>
  <p class ='details index'> details: <%= task[:details] %> </p>
  <p class ='completeby index'>complete by: <%= task[:completeby] %> </p>
<% end %>
</ol>
<br>
<%= link_to 'EEEYYYYY CLICK HERE FOR NEW TO DO', new_task_path %>
